.delete-button {
    width: 15px;
}

.task-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.task-card-bottom > .tags-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0.95
}